body{
    margin: 10%;
}
.about{
    background-color: #FFD361;
    float: right;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0% 10% 10% 10%;

}
@media (orientation:portrait)and (min-width: 600px){
    .about .dp{
        height: 100vw !important;
    }
}

#profile{
    max-width: 90%;
    max-height: 80%!important;
    vertical-align: middle;
    border-radius: 10% 0% 10% 10%;

}
.dp{
    float: left;
    height: 80vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
@media (max-width: 600px){
    .dp{
        height: auto !important;
        margin-bottom: 10% !important;
    }
}

.name{
    font-family: poppins;
    letter-spacing: 0.4em;
    font-size: 5vw;
    font-weight: bolder;
    margin: 0;    
    text-shadow: 0.1em 0.1em white;
}
.m-name{
    
    font-family: poppins;
    font-weight: bolder;
    letter-spacing: 0.3em;
    text-shadow: 0.1em 0.1em #ffd361;
    text-align: center; 
    font-size: 8vw;
    margin-top: 10%;
    margin-bottom: 10% ;
}
.about-title{
    min-width: 80%;
    max-width: 80%;
    overflow: hidden;
}

.title{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 8vw;
    font-weight: bolder;
    font-family: poppins;
    letter-spacing: 0.3em;
    text-align: center;
    text-shadow: 0.1em 0.1em #ffd361;
    height: auto;
}

p.title{
    margin: 0px;
}

.portfolio-icon{

    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 5% 0% 5% 0% ;
    max-width: 50%!important;
}
.port-icon{
    width: 80%;
    /* filter: drop-shadow(1vw 1vw); */
}


.resume-body{
    padding: 3.33%;
}
.flexbox{
    display: flex;
    float: left;
}
.highlight{
    width: auto;
    font-family: poppins;
    font-weight: bolder;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    border-radius: 0% 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;

}
.highlight-txt{
    background-color: #FFD361;
    padding: 1% 2% 1% 2%;
    border-radius: 0% 20% 0% 20%;
}
.tool{

    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 5% 0% 5% 0% ;
    max-width: 50%!important;
}
.position-title{
    font-family: poppins;
    font-weight: bold;
}
#company{
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.job-desc{
    font-family: poppins;
    font-weight: lighter;
    color: gray;
    font-size: 15px;
    line-height: 1.8em;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  @media (max-width: 600px){
    .m-hide{
        display: none;
    }
  }
  @media (min-width: 600px){
    .f-hide{
        display: none;
    }
  }